:root {
  --bgcol: #d8d8d8;
  --blue-l: #81b5df;
  --link: #835bba;
  --link-hover: #da1eba;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Liberation Sans", sans-serif;
}

body {
  margin: 0;
  background-image: url("img/nobody-office-with-medical-equipment-instruments.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -300px;
}

a {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}

.container {
  width: 48rem;
  min-height: 100vh;

  padding: 4rem;
  margin: 0 auto;

  background-image: none;
  background-color: var(--bgcol);

  border-left: 2rem solid var(--blue-l);
  border-right: 2rem solid var(--blue-l);
}